.profile {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px 10px;
  /* gap: 1px; */
  background-color: var(--main2);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.profImg {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  & img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  } 
}

small {
  font-size: 12px !important;
}