  .linkNav {
    color: white !important;
    text-decoration: none !important;
    background-color: var(--main2) !important;
    padding: 7px 20px !important;
    border-radius: 10px !important;
    box-shadow: 0 0 7px 0px #00000059 !important;
    font-weight: bold !important;
    width: 100%;
    transition: 0.3s;
    &:hover {
      scale: 1.04;
    }
  }
  :global(.active) {
    background-color: #33383E !important;
    scale: 1.04;
  }

